.blog-card {
    position: relative;
    margin-top: 15px;
}

.card-titles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    opacity: 0.68;
    border-radius: 10px;
    padding-bottom: 15px;
    font-weight: bold;
}

.card-title {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.grouped-card-titles {
    display: flex;
    justify-content: space-between;
}

.blog-card .image {
    height: 400px;
    object-fit: cover;
    width: 100%;
}