@import '../utils/css-variables.css';

.blogdetails-content {
    margin: 30px 15px 30px 15px;
}

/* .image-blogdetails {
    border-radius: 10px;
    margin-bottom: 10px;
} */

.blogdetails-description {
    background-color: var(--theme-color);
    opacity: 0.58;
    border-radius: 10px;
    padding: 10px;
    color: var(--primary-color);
}

.blogdetails-bold {
    font-weight: bold;
}

.carousel-image-container {
    overflow: hidden;
    border-radius: 10px;
    height: 600px;
    
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
