.create-blog-form {
    background-color: var(--theme-color);
    opacity: 0.58;
    color: var(--primary-color);
    margin: 50px;
    margin-bottom: 70px;
    border-radius: 10px;
}

.create-blog-input {
    padding: 15px;
}

.caption-create-blog {
    margin-top: 15px;
}

.create-blog-button {
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: var(--secondary-color);
    border: none;
}

.position-create-blog-button {
    display: flex;
    justify-content: flex-end;
}

.success-fail-blog {
    font-weight: bold;
    font-size: 28px;
    padding: 0px 10px 10px 10px;
}