.small-blog-card {
    position: relative;
}

.small-card-titles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    opacity: 0.68;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
}

.small-card-title {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.small-blog-card .image {
    height: 280px;
    object-fit: cover;
    width: 100%;
}
