.userprofileform-container {
    background-color: var(--theme-color);
    opacity: 0.58;
    color: var(--primary-color);
    border-radius: 10px;
}

.position-userprofile-button {
    display: flex;
    justify-content: flex-end;
}

.userprofile-edit-button {
    margin-bottom: 15px;
    background-color: var(--secondary-color);
    border: none;
}