@import './utils/css-variables.css';


.blog-list-container {
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

.bloglist-title {
    color: var(--secondary-color);
    margin: 40px 0px 30px 40px;
}

.title-container {
    margin: 0px;
}

.large-cards {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.cards {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.small-cards-container {
    margin: 30px 20px 0px 20px;
}
