@import './utils/css-variables.css';

h1 {
    color: var(--theme-color);
    font-weight: bold;
    justify-content: center;
}

.container-one {
    padding-left: 50px;
}

.container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.box {
    margin: 0px;
    padding: 0px;
}

.header-searchbar {
    margin-top: 15px;
}

@media (max-width: 450px) {
    .container-one {
        display: none;
    }
    .searchbar {
        height: 40px;
    }
}